/**
 * components.less
 * UI Components
 */

/*==========================================================================
  Navigation
  ========================================================================== */
.pagination {
  border-top: @bodyBackground 1px solid;
  
  & > a {
    display: inline-block;
    border-right: 1px solid @bodyBackground;
    width: 49%;
    text-align: center;
    line-height: 40px;
    
    &:last-child {
      border: none;
    }
    &:last-child:first-child {
      width: 100%;
    }
  }
}

/*==========================================================================
  Menus
  ========================================================================== */

.dropdown {
  position: relative;
  
  &:hover .dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: 90px;
  z-index: 100;
  display: none;
  float: left;
  min-width: 420px;
  margin: 0px;
  padding: 10px 0;
  background-color: #222;
  
  color: white;
  
  &:after {
  	bottom: 100%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-bottom-color: #222;
  	border-width: 10px;
  	left: 10px;
  }
  
  a {
    color: white;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
  
  nav {
    float: left;
    width: 200px;
    margin-left: 10px;
    list-style: none;
    
    h2 {
      margin: 0;
    }
  }
}