/**
 * Icons.less
 * Icons used on Promonews
 */


// Large badges that title content blocks
.badgeHeader {
  position: relative;
  
  .badge {
    display: block;
    position: absolute;
    top: -5px;
    left: -40px;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
  }
}

.titleBadge {
  height: 50px;
  position: relative;
  
  h1 {
    position: absolute;
    left: 50%;
    top: -20px;
    margin: 0 0 0 -40px;
    padding: 0;
    width: 80px;
    height: 80px;
  }
  
  h2 {
    line-height: 50px;
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: center;
    
    &.flankLeft {
      float: left;
    }
    
    &.flankRight {
      float: right;
    }
  }
} 