/**
 * Icons.less
 * Icons used on Promonews
 */

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: text-top;
  background-image: url(../images/icons.png);
  
  &.video { background-position: 0 0; }
  &.video:hover { background-position: 0 0; }
  
  &.news { background-position: 0 -30px; }
  &.news:hover { background-position: 0 -30px; }
}

// Large badges that title content blocks



.contentBadge {
  position: absolute;
  top: 10px;
  left: -40px;
  width: 80px;
  height: 80px;
}

.titleBadge {
  height: 50px;
  position: relative;
  
  h1 {
    position: absolute;
    left: 50%;
    top: -20px;
    margin: 0 0 0 -40px;
    padding: 0;
    width: 80px;
    height: 80px;
  }
  
  h2 {
    line-height: 50px;
    margin: 0;
    width: 50%;
    text-align: center;
    
    &.flankLeft {
      float: left;
    }
    
    &.flankRight {
      float: right;
    }
  }
} 