/*
 * layout.less
 * Standard object layout 
 */
 
 
/*==========================================================================
  Theme
  ========================================================================== */
[role="banner"] {
  background: @containerColor;
  .clearfix();
}

[role="user"] {
  padding: 20px 0;
}

[role="navigation"] {
  height: 90px;
  
  & > h1, & > li {
    display: inline-block;
    float: left;
    margin: 0;
  }
  
  & > h1 {
    margin-right: 20px;
    padding: 20px 0;
  }
  
  & > li {
    //border-left: 1px solid @subtleColor;
    padding-left: 10px;
    height: 50px;
    width: 90px;
    line-height: 28px;
    
    & > a {
      display: inline-block;
      padding: 20px 0;
      text-decoration: none;
      color: @subtleColor;
      
      &:hover {
        color: @highlightColor;
      }
    }
    
    .icon {
      display: block;
    }
  }
  
  .search-form {
    padding-top: 20px; 
    float: right; 
    
    input[type="text"] {
      display: inline-block;
      height: 30px;
      width: 220px;
      padding: 10px;
      line-height: 30px;
      border: 0;
      background-color: @bodyBackground;
      .box-shadow(inset 0px 1px 3px rgba(0, 0, 0, .3));
    }
  }
}

[role="main"] {
  .container();
}

[role="footer"] {
  .container();
}