/*
 * layout.less
 * Standard object layout 
 */
 
 
/* ==========================================================================
   Theme
   ========================================================================== */
[role="banner"] {
  background: @containerColor;
  .clearfix();
}

[role="user"] {
  padding: 20px 0;
}

[role="navigation"] {
  height: 50px;
  padding: 20px 0;
  
  & > h1, & > a {
    display: inline-block;
    float: left;
    margin: 0;
  }
  
  & > h1 {
    margin-right: 20px;
  }
  
  & > a {
    border-left: 1px solid @subtleColor;
    padding-left: 10px;
    height: 50px;
    width: 90px;
    line-height: 20px;
    
    .icon {
      display: block;
    }
  }
  
  .search {
    
  }
}

[role="main"] {
  .container();
}

[role="footer"] {
  .container();
}